root {
  --pixel-color: yellow;
}
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14pt;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100svh;
  display: flex;
  flex-direction: column;
  background-color: lemonchiffon;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.grid {
  width: 25%;
  aspect-ratio: 1/1;
}
.grid.toggled {
  border: 1px solid rgb(203, 203, 203);
}
#toolbar {
  height: 100px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: grey;
}
#toolbar > button:first-child {
  margin-right: auto;
}
#toolbar > button {
  height: 50px;
  background: linear-gradient(blanchedalmond, palegoldenrod);
  padding: 10px;
  border: 3px rgba(212, 212, 0, 0.709) solid;
  border-radius: 10px;
}

#toolbar > button:hover {
  transform: translate(0%, -2%);
}

#toolbar > button:active {
  transform: translate(0%, 2%);
  border: inset yellow;
  background: linear-gradient(rgb(245, 210, 159), rgb(242, 234, 149));
}
